.vscode
.deps
*.cache
*.log
Makefile
Makefile.in
aclocal.m4
config.h
config.status
configure
stamp-h1
src/.*
src/*/.*
*.0
*~
*.gch
src/*.o
src/*.o
src/*/*.o
ustb-clock
compile
depcomp
install-sh
missing
config.h.in
